@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;800&display=swap");

body,
html {
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0px auto;
    scroll-behavior: smooth;
    font-size: 18px;
}

.nav-title {
    font-size: 32px;
    font-weight: 700;
}

header {
    height: 50px;
}

hr {
    border: 1px solid rgb(241, 241, 241);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #215fa3;
}

.black {
    color: black;
}

.grey {
    color: grey;
}

.blue {
    color: #215fa3;

}

/* Main CSS  Desktop */

@media screen and (min-width: 800px) {

    body,
    html {
        font-size: 22px;
    }

    nav {
        margin-left: 10px;
    }

    li {
        list-style: none;
        display: block;
        float: right;
        margin-right: 1.9%;
        justify-content: center;
        margin-top: 3.5px;
    }

    .nav-title {
        display: block;
        float: left;
        margin-left: 20px;
        justify-content: center;
    }

    .mobile-nav {
        display: none;
    }

    .button {
        display: none;
    }

    .page-cover {
        margin: auto;
        width: 50%;
        justify-content: center;
        width: 800px;
        padding-top: 3.5%;
    }

    h1 {
        font-size: 1.8em;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .content {
        display: contents;
    }

    .img {
        max-width: 100%;
        max-height: 100%;
    }

    footer {
        text-align: center;
        padding: 20px;
    }

    .page-cover {
        margin: auto;
        width: 50%;
        justify-content: center;
        width: 800px;
        padding-top: 3.5%;
    }

    .page-content {
        display: contents;
    }

    .img {
        max-width: 100%;
        max-height: 100%;
    }

}

/* Main CSS Mobile */

@media screen and (max-width: 820px) {

    body,
    html {
        margin: 0;
        width: 100vw;
        height: 100vh;
        animation: bugfix infinite 1s;
        -webkit-animation: bugfix infinite 1s;
        font-family: "Source Sans Pro", sans-serif;
        letter-spacing: 0.01rem;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        scroll-behavior: smooth;
        font-size: 18px;
    }

    .desktop-nav {
        display: none;
    }

    .nav-title {
        margin-top: 10px;
        display: block;
        float: left;
        margin-left: 10px;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 500;
        margin: 0;
        line-height: 1.2;
    }

    .button {
        display: none;
    }

    .page-cover {
        margin: 12px;
        width: 50%;
        justify-content: center;
        width: auto;
    }

    .page-content {
        display: contents;
    }

    .img {
        max-width: 100%;
        max-height: 100%;
    }

    @keyframes bugfix {
        from {
            padding: 0;
        }

        to {
            padding: 0;
        }
    }

    @-webkit-keyframes bugfix {
        from {
            padding: 0;
        }

        to {
            padding: 0;
        }
    }

    #overlay-button {
        position: absolute;
        right: 0.5em;
        top: 0.1em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }

    #overlay-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
        position: relative;
        display: block;
        transition: all 0.2s ease-in-out;
    }

    #overlay-button span:before {
        top: -10px;
        visibility: visible;
    }

    #overlay-button span:after {
        top: 10px;
    }

    #overlay-button span:before,
    #overlay-button span:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        content: "";
        transition: all 0.2s ease-in-out;
    }

    #overlay-button:hover span,
    #overlay-button:hover span:before,
    #overlay-button:hover span:after {
        background: #000000;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked~#overlay {
        visibility: visible;
    }

    input[type=checkbox]:checked~#overlay-button:hover span,
    input[type=checkbox]:checked~#overlay-button span {
        background: transparent;
    }

    input[type=checkbox]:checked~#overlay-button span:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
    }

    input[type=checkbox]:checked~#overlay-button span:after {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    #overlay {
        height: 100vh;
        width: 100vw;
        z-index: 2;
        visibility: hidden;
        position: fixed;
        background-color: #ffffff;
    }

    #overlay.active {
        visibility: visible;
    }

    #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
    }

    #overlay ul li {
        padding: 1em;
    }

    #overlay ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.5em;
    }

    #overlay ul li a:hover {
        color: #215fa3;
    }

}


/* Footer CSS */

footer {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7px;
}

.twitter {
    height: 60px;
    width: 60px;
}

.github {
    height: 60px;
    width: 60px;
}
